* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 2px 3px #6a48451f;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6a4845;
}

header .logo span {
  font-size: 3rem;
  color: #6a4845;
}
header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

header a {
  text-decoration: none;
  font-size: 1rem;
  color: #ab7b77;
}

header .addBook {
  padding: 10px;
  background-color: #6a4845;
  color: white;
  outline: none;
  border: none;
  border-radius: 25px;
  padding-inline: 30px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
header .addBook:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  transform: scale(1.05);
}
main {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}
.hero img {
  width: 30vw;
  max-width: 200px;
}

.hero {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 30px;
  margin-top: 3rem;
  height: 250px;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.105);
}
.hero .txt-hero {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
}
.hero .img-hero {
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}
.hero button {
  width: 11rem;
  height: 2.3rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ae7a4d;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.hero button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.193);
}

.book-container {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.bookCard {
  display: grid;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 5px #8759595f;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  padding-right: 20px;
  animation: fade 0.2s ease-in-out;
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.books {
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.105);
  margin-top: 3rem;
}

.bookTxt {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 30px;
}
.bookImg {
  display: flex;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}
.bookImg span {
  font-size: 10rem;
  padding-right: 10px;
  padding-bottom: 20px;
}

.author {
  margin-top: 5px;
  opacity: 0.7;
}
.stars {
  font-size: 1.5rem;
}

.btns {
  display: flex;
  gap: 10px;
  padding-block: 10px;
}
.btns button {
  width: 100px;
  height: 25px;
  border-radius: 25px;
  border: none;
}
.btns button:nth-child(1) {
  color: white;
  opacity: 0.5;
  transition: all 0.1s ease-in;
}
.btns button:nth-child(1):hover {
  transform: scale(1.1);
}
.btns button:nth-child(2) {
  background-color: rgb(202, 109, 109);
  color: white;
  transition: all 0.1s ease-in;
}
.btns button:nth-child(2):hover {
  transform: scale(1.1);
}
.btns button:nth-child(2):active {
  transform: scale(1);
  background-color: rgb(153, 85, 85);
}
.btns button:nth-child(1):active {
  transform: scale(1);
}

.none {
  display: none;
}

.bookDescription {
  grid-area: 2 / 1 / 3 / 3;
  padding-top: 10px;
}

dialog {
  margin: auto;
  flex-direction: column;
  gap: 10px;
  border: none;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px #6a484538;
  border: 2px solid #6a4845;
  transition: all 1s ease-in-out;
  margin-bottom: auto;
}
dialog form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
dialog::backdrop {
  backdrop-filter: blur(5px);
}

dialog form input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.476);
  border-radius: 25px;
  padding-left: 10px;
  font-size: 1rem;
  outline: none;
}
dialog h1 {
  color: #6a4845;
  margin-block: 15px;
}

dialog form select {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.476);
  border-radius: 25px;
  padding-inline: 10px;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}

dialog form button {
  width: 100%;
  height: 40px;
  border: 3px solid #6a4845;
  border-radius: 25px;
  padding-inline: 10px;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  color: #6a4845;
  font-size: 1rem;
  font-weight: bold;
}
dialog form button:hover {
  background-color: #6a4845;
  color: white;
}
dialog form input:focus {
  border: 3px solid #6a4845;
}

#closeBtn {
  background: none;
  border: none;
  width: 2rem;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#closeBtn span {
  font-size: 1.5rem;
  opacity: 0.5;
}

#closeBtn:hover {
  transform: scale(1.2);
}

footer {
  height: 100px;
  align-content: center;
  text-align: center;
  color: white;
  background-color: #6a4845;
  margin-top: auto;
}

option[value="Chocolate"] {
  background-color: Chocolate;
  color: white;
}
option[value="AntiqueWhite"] {
  background-color: AntiqueWhite;
}

option[value="AliceBlue"] {
  background-color: AliceBlue;
}
option[value="Crimson"] {
  background-color: Crimson;
  color: white;
}
option[value="DarkCyan"] {
  background-color: DarkCyan;
  color: white;
}
option[value="DarkRed"] {
  background-color: DarkRed;
  color: white;
}
option[value="DarkSalmon"] {
  background-color: DarkSalmon;
  color: white;
}
option[value="DarkSlateGray"] {
  background-color: DarkSlateGray;
  color: white;
}
option[value="LightSkyBlue"] {
  background-color: LightSkyBlue;
}
option[value="MediumSlateBlue"] {
  background-color: MediumSlateBlue;
  color: white;
}
option[value="Orange"] {
  background-color: Orange;
}
option[value="Tomato"] {
  background-color: Tomato;
  color: white;
}
option[value="YellowGreen"] {
  background-color: YellowGreen;
}
option[value="WhiteSmoke"] {
  background-color: WhiteSmoke;
}

#rating option {
  color: rgb(215, 195, 9);
  font-size: 1.5rem;
}
