* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 2px 3px #6a48451f;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6a4845;
}

header .logo span {
  font-size: 3rem;
  color: #6a4845;
}
header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

header a {
  text-decoration: none;
  font-size: 1rem;
  color: #ab7b77;
}

header .addBook {
  padding: 10px;
  background-color: #6a4845;
  color: white;
  outline: none;
  border: none;
  border-radius: 25px;
  padding-inline: 30px;
}
main {
  width: 70%;
  margin: auto;
}
.hero img {
  width: 15rem;
  padding-right: 30px;
}

.hero {
  display: flex;
  width: 100%;
  padding: 30px;
  margin-top: 3rem;
  height: 250px;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.105);
}
.hero .txt-hero {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}
.hero .img-hero {
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero button {
  width: 11rem;
  height: 2.3rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ae7a4d;
  color: white;
  font-weight: bold;
}

.book-container {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.bookCard {
  display: grid;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 5px #8759595f;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  padding-right: 20px;
}

.books {
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.105);
  margin-top: 3rem;
}

.bookTxt {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 30px;
}
.bookImg {
  display: flex;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}
.bookImg span {
  font-size: 10rem;
  padding-right: 10px;
  padding-bottom: 20px;
}

.author {
  margin-top: 5px;
  opacity: 0.7;
}
.stars {
  font-size: larger;
}

.btns {
  display: flex;
  gap: 10px;
  padding-block: 10px;
}
.btns button {
  width: 50%;
  height: 25px;
  border-radius: 25px;
  border: none;
}
.btns button:nth-child(1) {
  background-color: rgb(148, 147, 147);
  color: white;
}

.btns button:nth-child(2) {
  background-color: rgb(202, 109, 109);
  color: white;
}

.read {
  background-color: rgba(23, 210, 56, 0.71) !important;
}
.read2 {
  background-color: rgba(23, 210, 57, 0.215);
}

.none {
  display: none;
}

.bookDescription {
  grid-area: 2 / 1 / 3 / 3;
  padding-inline: 20px;
}
